<!DOCTYPE html>
<html>
  {% include '_layouts/head.twig' %}
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      {% include '_layouts/header.twig' %}
      {% include '_layouts/sidebar.twig' %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content_header %} {% endblock %}
        
        {% include '_layouts/alerts.twig' %}

        <!-- Main content -->
        {% block content %} {% endblock %}

      </div><!-- /.content-wrapper -->

      {% include '_layouts/footer.twig' %}

      {% include '_layouts/control-sidebar.twig' %}
    </div><!-- ./wrapper -->

    {% include '_layouts/javascript.twig' %}
    <!-- page script -->
    {% block script %}{% endblock %}

  </body>
</html>
