{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Account
      <small>
        Archive
      </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/account/view">Account</a></li>
      <li class="active">
        Archive
      </li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- column -->
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              Archive
            </h3>
          </div><!-- /.box-header -->

          <form role="form" method="post">
            <div class="box-body">
              <div class="row">
                <div class="col-md-3">
                  <!-- select -->
                  <div class="form-group">
                    <label>Change Academic Year view</label>
                    <select class="form-control" name="acad_year">
                      {% for acadYear in acadYears if acadYear.acad_year != '' %}
                        <option value="{{ acadYear.acad_year }}" {{ acadYear.acad_year == currentAcadYearView ? 'selected' }}>AY{{ acadYear.acad_year }}{{ acadYear.acad_year == constant('ACAD_YEAR') ? ' (Current)'}}</option>
                      {% endfor %}
                    </select>
                    <small>Editing is not allowed except for current year.</small>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Save
              </button>
            </div>
          </form>
        </div><!-- /.box -->
      </div><!--/.col -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
