{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Account
      <small>
        Change Password
      </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/account/view">Account</a></li>
      <li class="active">
        Change Password
      </li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- column -->
      <div class="col-xs-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">
              Change Password for Alternative Login
            </h3>
          </div><!-- /.box-header -->

          <form role="form" method="post">
            <div class="box-body">
            <div class="form-group">
              This password is for alternative log in method not using the NUSNET login.
            </div>
              <div class="row">
                <div class="col-md-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="currentPassword">
                    <small>Leave blank if you have not created one</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="password" required>
                  </div>
                </div>

                <div class="col-md-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="password2" required>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Change
              </button>
            </div>
          </form>
        </div><!-- /.box -->
      </div><!--/.col -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
