{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i> Home</li>
    </ol>
        </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      {% for feature in features %}
        <div class="col-xs-12 col-sm-6">
          <!-- small box -->
          <div class="small-box {% if feature.enabled %}bg-yellow{% else %}bg-gray{% endif %}">
            <div class="inner">
              <h3 {% if not feature.enabled %}class="text-muted"{% endif %}>{{ feature.name|raw }}</h3>
              <p {% if not feature.enabled %}class="text-muted"{% endif %}>{{ feature.description }}
            </div>
            <div class="icon">
              <i class="fa {{ feature.icon }}"></i>
            </div>
            <a href="{% if feature.enabled %}{{ feature.url }}{% else %}#{% endif %}" class="small-box-footer">
              {% if feature.enabled %}Go <i class="fa fa-arrow-circle-right"></i>{% else %}Disabled <i class="fa fa-times-circle"></i>{% endif %}
            </a>
          </div>
        </div><!--/.col -->
      {% endfor %}
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
