{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i> Home</li>
    </ol>
        </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-6">
        <!-- small box -->
        <div class="small-box {% if this.settings.allow_preference %}bg-yellow{% else %}bg-gray{% endif %}">
          <div class="inner">
            <h3 {% if not this.settings.allow_preference %}class="text-muted"{% endif %}>Committee<br>Preference</h3>
            <p {% if not this.settings.allow_preference %}class="text-muted"{% endif %}>Indicate and rank your preferred committee!</p>
          </div>
          <div class="icon">
            <i class="fa fa-sort-numeric-asc"></i>
          </div>
            <a href="/cca/preference" class="small-box-footer">
              {% if this.settings.allow_preference %}
                Go <i class="fa fa-arrow-circle-right"></i>
              {% else %}
                Currently Disabled <i class="fa fa-times-circle"></i>
              {% endif %}
            </a>
        </div>
      </div><!--/.col -->
      <div class="col-xs-6">
        <!-- small box -->
        <div class="small-box {% if this.settings.allow_points %}bg-yellow{% else %}bg-gray{% endif %}">
          <div class="inner">
            <h3 {% if not this.settings.allow_points %}class="text-muted"{% endif %}>CCA<br>Points</h3>
            <p {% if not this.settings.allow_points %}class="text-muted"{% endif %}>View your CCA points for the year!</p>
          </div>
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
            <a href="/cca/points" class="small-box-footer">
              {% if this.settings.allow_points %}
                Go <i class="fa fa-arrow-circle-right"></i>
              {% else %}
                Currently Disabled <i class="fa fa-times-circle"></i>
              {% endif %}
            </a>
        </div>
      </div><!--/.col -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
