<!DOCTYPE html>
<html>
  {% include '_layouts/head.twig' %}
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>Sheares</b> Intranet</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg"><big>Sign In</big></p>

        {% if this.error %}
          <div class="form-group text-center">
            <span class="text-center text-red"><i class="icon fa fa-warning"></i> {{ this.error }}</span>
          </div>
        {% endif %}

        <form class="js-admin" action="account/processLogin" method="post">
          <div class="form-group has-feedback">
            <input name="user" class="form-control" placeholder="A1234567X" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <div class="text-center">
            <a class="js-toggle" href="#">Use NUSNET account</a>
          </div>
        </form>

        <div class="js-user">
          <div class="form-group">
            <a href="account/processOpenId" class="btn btn-warning btn-block btn-flat">Sign in with NUSNET account</a>
          </div>
          <div class="text-center">
            <a class="js-toggle" href="#">Use normal sign in</a>
          </div>
        </div>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    {% include '_layouts/javascript.twig' %}
    <script>
      $('form').hide();

      $('.js-toggle').click(function() {
        $('.js-user').slideToggle();
        $('.js-admin').slideToggle();
      });
    </script>
  </body>
</html>
